@import "../variables";

body {
  background-color: $darkGrey;
  margin: 0;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: space-around;
  //   height: 100vh;
}
.box-container {
  background-color: $themeRed;

  /* styles for aligning the element in the center*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
}
.box1 {
  background-color: $green;
}
.box2 {
  background-color: $blue;
}

h1 {
  color: $themeRed;
  padding: 10px;
  //   position: absolute;
  //   top:50%;
  //   left: 50%;
  //   transform: translateX(-50%) translateY(-50%);
  //   text-align: center;
}
