$themeRed: #ff2956;
$disabledIcon: #8e8e93;
$disabledButton: #c7c7cc;
$white: #ffffff;
$green: #4cd964;
$lightGrey: #efeff4;
$darkGrey: #676771;
$blue: #1b89fb;
$black: #000000;
$grey: #e5e5ea;
$iconBackground: #d1d1d6;
$deepLight: #ededed;
$textColor: #676771;
$correctAnswer: #00e049;
$wrongAnswer: #fa3e3e;
$red: #ff3b30;
$darkRed: #ba170e;
$darkGreen: green;
$transparent: transparent;
$violet:blueviolet;
