body {
  background-color: #73d9f0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  .cloud {
    width: 1000px;
    height: 1000px;
    position: absolute;
    right: 120%;
    filter: drop-shadow(70px 3px 22px #222);
    animation: cloud_movement 10s linear infinite;
    &:nth-child(2) {
      width: 500px;
      height: 500px;
      top: 20%;
      animation: cloud_movement 12s linear infinite;
      animation-delay: 2s;
    }
    &:nth-child(3) {
      width: 100px;
      height: 100px;
      filter: drop-shadow(20px 3px 10px #222);
      top: 20%;
      animation: cloud_movement 20s linear infinite;
      animation-delay: 2s;
    }

    &:nth-child(4) {
      width: 100px;
      height: 100px;
      filter: drop-shadow(20px 3px 10px #222);
      top: 0;
      animation: cloud_movement 16s linear infinite;
      animation-delay: 2s;
    }

    &:nth-child(5) {
      width: 100px;
      height: 100px;
      filter: drop-shadow(20px 3px 10px #222);
      bottom: 0;
      animation: cloud_movement 22s linear infinite;
      animation-delay: 2s;
    }
  }
}

@keyframes cloud_movement {
  0% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}
