body {
  background-color: #73d9f0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  .cloud {
    position: absolute;
    animation: cloud_movement 10s linear infinite;
  }
}

@keyframes cloud_movement {
  0% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}
