body {
  background-color: #73d9f0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body .photo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 5px solid black;
  -webkit-box-shadow: 0 0 20px 4px lightslategrey;
          box-shadow: 0 0 20px 4px lightslategrey;
  -webkit-animation: swing_photo 1s infinite ease-in-out alternate;
          animation: swing_photo 1s infinite ease-in-out alternate;
  -webkit-transform-origin: center -40px;
          transform-origin: center -40px;
}

body .photo img {
  width: 300px;
  height: 300px;
}

body .photo::before {
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid black;
  position: absolute;
  top: -22px;
  border-right: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 140px;
}

body .photo::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  top: -60px;
  left: 140px;
  border-radius: 50%;
  border: 3px solid darkslategray;
}

body .cloud {
  width: 1000px;
  height: 1000px;
  position: absolute;
  right: 120%;
  -webkit-filter: drop-shadow(70px 3px 22px #222);
          filter: drop-shadow(70px 3px 22px #222);
  -webkit-animation: cloud_movement 10s linear infinite;
          animation: cloud_movement 10s linear infinite;
}

body .cloud:nth-child(2) {
  width: 500px;
  height: 500px;
  top: 20%;
  -webkit-animation: cloud_movement 12s linear infinite;
          animation: cloud_movement 12s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

body .cloud:nth-child(3) {
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(20px 3px 10px #222);
          filter: drop-shadow(20px 3px 10px #222);
  top: 20%;
  -webkit-animation: cloud_movement 20s linear infinite;
          animation: cloud_movement 20s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

body .cloud:nth-child(4) {
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(20px 3px 10px #222);
          filter: drop-shadow(20px 3px 10px #222);
  top: 0;
  -webkit-animation: cloud_movement 16s linear infinite;
          animation: cloud_movement 16s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

body .cloud:nth-child(5) {
  width: 100px;
  height: 100px;
  -webkit-filter: drop-shadow(20px 3px 10px #222);
          filter: drop-shadow(20px 3px 10px #222);
  bottom: 0;
  -webkit-animation: cloud_movement 22s linear infinite;
          animation: cloud_movement 22s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes cloud_movement {
  0% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}

@keyframes cloud_movement {
  0% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}

@-webkit-keyframes swing_photo {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes swing_photo {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
/*# sourceMappingURL=Cloud_Movement.css.map */