body {
  background-color: #73d9f0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  .photo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    box-shadow: 0 0 20px 4px lightslategrey;
    animation: swing_photo 1s infinite ease-in-out alternate;
    transform-origin: center -40px;
    img {
      width: 300px;
      height: 300px;
    }
    &::before {
      content: "";
      width: 35px;
      height: 35px;
      border: 2px solid black;
      position: absolute;
      top: -22px;
      border-right: none;
      border-bottom: none;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 140px;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      background-color: black;
      position: absolute;
      top: -60px;
      left: 140px;
      border-radius: 50%;
      border: 3px solid darkslategray;
    }
  }
  .cloud {
    width: 1000px;
    height: 1000px;
    position: absolute;
    right: 120%;
    filter: drop-shadow(70px 3px 22px #222);
    animation: cloud_movement 10s linear infinite;
    &:nth-child(2) {
      width: 500px;
      height: 500px;
      top: 20%;
      animation: cloud_movement 12s linear infinite;
      animation-delay: 2s;
    }
    &:nth-child(3) {
      width: 100px;
      height: 100px;
      filter: drop-shadow(20px 3px 10px #222);
      top: 20%;
      animation: cloud_movement 20s linear infinite;
      animation-delay: 2s;
    }

    &:nth-child(4) {
      width: 100px;
      height: 100px;
      filter: drop-shadow(20px 3px 10px #222);
      top: 0;
      animation: cloud_movement 16s linear infinite;
      animation-delay: 2s;
    }

    &:nth-child(5) {
      width: 100px;
      height: 100px;
      filter: drop-shadow(20px 3px 10px #222);
      bottom: 0;
      animation: cloud_movement 22s linear infinite;
      animation-delay: 2s;
    }
  }
}

@keyframes cloud_movement {
  0% {
    right: -50%;
  }
  100% {
    right: 100%;
  }
}

@keyframes swing_photo {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
